.box1{background-color: rgba(247, 101, 5, 0.452);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 25px;
    width: 1000px;
    text-align: center;
    text-align: center;}
    .box1 a{padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        font-size:20px;
    color: cadetblue;
font-family: cursive;}
    .box1 input{
        float: right;
        display: block;
    overflow: hidden;
    cursor:pointer}    
    .box1 .search-container button:hover {
        background: #04aad3;}
a:hover{color: blueviolet;}
p{font-size: 50px;
    font-family: cursive;}
    div input{height: 30px;
    border-radius: 10%;}
    section input{border-radius: 15px;}
    .submit{border-radius: 12px;
        background-color: rgb(2, 143, 2);
        width: 100px;
        font-size: 18px;
    color: rgb(2, 1, 0);
margin-top: 30px;}
div{margin-top: 50px;
    margin-bottom: 50px;}
    body{background-image: url(images/online.jpg);
    background-size:cover ;}